.header {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    align-items: center;
    background-color:dimgray;
    height: 70px;
    color: #fff;
}
.item{
    font-size: 30px;
}